<div class="w-full bg-gray-700 flex justify-evenly p-10 mt-10">
    <div class="list-none text-white">
        <li class="text-[20px] mb-2 font-semibold">Get to Know Us</li>
        <li>Careers</li>
        <li>Blog</li>
        <li>About Amazon</li>
        <li>Amazon Devices</li>
        <li>Aazon Science</li>
    </div>
    <div class="list-none text-white">
        <li class="text-[20px] mb-2 font-semibold">Get to Know Us</li>
        <li>Careers</li>
        <li>Blog</li>
        <li>About Amazon</li>
        <li>Amazon Devices</li>
        <li>Aazon Science</li>
    </div>
    <div class="list-none text-white">
        <li class="text-[20px] mb-2 font-semibold">Get to Know Us</li>
        <li>Careers</li>
        <li>Blog</li>
        <li>About Amazon</li>
        <li>Amazon Devices</li>
        <li>Aazon Science</li>
    </div>
</div>