@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --mat-sidenav-container-divider-color: rgba(255, 255, 255, 0.12);
    --mat-sidenav-container-background-color: #424242;
    --mat-sidenav-container-text-color: rgb(0, 0, 0);
    --mat-sidenav-content-background-color: #ffffff;
    --mat-sidenav-content-text-color: rgb(0, 0, 0);
    --mat-sidenav-scrim-color: rgba(189, 189, 189, 0.6);
    --mdc-elevated-card-container-color: rgb(255, 255, 255);
    --mat-icon-color: rgb(255, 255, 255);
}




html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.hero:hover{
    background-color: rgba(31, 31, 34, 0.199);
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    cursor: pointer;
}

.productbox_card{
    color: black;
}


/* product__box animation */

.product__box:hover{
    padding: 10px;
    border-bottom: 2px solid black;
    transition: all 0.1s;
}
